In [1]:
import pandas as pd

# Phase 1 : Import, Drop Columns, Add Columns

## Read the file

### Main file

In [2]:
df = pd.read_excel("./PPM.xlsx")
row = len(df)
col = len(df.columns)
print("No. of Rows:" + str(row))
print("No. of Columns:" + str(col))
df.head()

No. of Rows:3184
No. of Columns:25

,Flag,WO,Status,Description,Work Type,Assigned To,Priority,Location,Sign Off Notes,Subject,...,Department,Action,Parent Work Order,Actual Start / Time,Actual Completion Date / Time,Downtime,Duration,On Hold Reason,Done By,Entered By
0,3,148338,Scheduled,Weekly Legionella Prevention Checklist -Al Sudan,PPM,Soft Services,NaN,ACIFM/M/GOLD LINE/M006/01/YWST040,NaN,YWST040,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab
1,3,148337,Scheduled,Weekly Legionella Prevention Checklist WhitePa...,PPM,ACIFM SOFT White Palace,NaN,ACIFM/M/GREEN LINE/M008/01/GWST020,NaN,GWST020,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab
2,3,148336,Scheduled,Weekly Legionella Prevention Checklist -Souq W...,PPM,Soft Services,NaN,ACIFM/M/GOLD LINE/M006/01/YEST010,NaN,YEST010,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab
3,3,148335,Scheduled,Weekly Legionella Prevention Checklist-Sports ...,PPM,Soft Services,NaN,ACIFM/M/GOLD LINE/M006/01/YWST060,NaN,YWST060,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab
4,3,148334,Scheduled,Weekly Legionella Prevention Checklist -Al Riffa,PPM,ACIFM SOFT Al Riffa,NaN,ACIFM/M/GREEN LINE/M009/01/GWST080,NaN,GWST080,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab

### Reference files

In [3]:
#Location References
dfLocation = pd.read_excel("./Ref.xlsx", "Location")
dfLocation.head()

      Code                     Station       Line
0  BSEE052  Blue Line Other Structures  Blue Line
1  BSSB050  Blue Line Other Structures  Blue Line
2  BSSB051  Blue Line Other Structures  Blue Line
3  BST1050  Blue Line Other Structures  Blue Line
4  BST2050  Blue Line Other Structures  Blue Line

In [4]:
#Department References
dfDepartment = pd.read_excel("./Ref.xlsx", "Department")
dfDepartment.head()

  Department   Department 2
0        fls            FLS
1       mech     Mechanical
2       elec     Electrical
3       soft  Soft Services
4       chil        Chiller

## Drop unnecessary columns

In [5]:
try :
    del df['Flag']
except : 
    print('Column Deleted')
    
row = len(df)
col = len(df.columns)
print("No. of Rows:" + str(row))
print("No. of Columns:" + str(col))

No. of Rows:3184
No. of Columns:24

## Add columns

### Adding Status 2 Column

In [6]:
def getInput(txtFrom) :
    if "Scheduled" in txtFrom :
        return "Open"
    elif "In Progress" in txtFrom :
        return "Open"
    elif "New" in txtFrom :
        return "Open"
    elif "On Hold" in txtFrom :
        return "On Hold"
    elif "Closed" in txtFrom :
        return "Closed"
    elif "Not Done" in txtFrom :
        return "Closed"
    elif "Rejected" in txtFrom :
        return "Closed"
    else : return "NA"

df['Status 2'] = df['Status'].apply(lambda x: getInput(x))

row = len(df)
col = len(df.columns)
print("No. of Rows:" + str(row))
print("No. of Columns:" + str(col))

df.head()

No. of Rows:3184
No. of Columns:25

,WO,Status,Description,Work Type,Assigned To,Priority,Location,Sign Off Notes,Subject,Task/Work Subject Group,...,Action,Parent Work Order,Actual Start / Time,Actual Completion Date / Time,Downtime,Duration,On Hold Reason,Done By,Entered By,Status 2
0,148338,Scheduled,Weekly Legionella Prevention Checklist -Al Sudan,PPM,Soft Services,NaN,ACIFM/M/GOLD LINE/M006/01/YWST040,NaN,YWST040,ACIFM-LEG-WEEKLY-SUD,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab,Open
1,148337,Scheduled,Weekly Legionella Prevention Checklist WhitePa...,PPM,ACIFM SOFT White Palace,NaN,ACIFM/M/GREEN LINE/M008/01/GWST020,NaN,GWST020,ACIFM-LEG-WEEKLY-TWP,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab,Open
2,148336,Scheduled,Weekly Legionella Prevention Checklist -Souq W...,PPM,Soft Services,NaN,ACIFM/M/GOLD LINE/M006/01/YEST010,NaN,YEST010,ACIFM-LEG-WEEKLY-SWQ,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab,Open
3,148335,Scheduled,Weekly Legionella Prevention Checklist-Sports ...,PPM,Soft Services,NaN,ACIFM/M/GOLD LINE/M006/01/YWST060,NaN,YWST060,ACIFM-LEG-WEEKLY-SPC,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab,Open
4,148334,Scheduled,Weekly Legionella Prevention Checklist -Al Riffa,PPM,ACIFM SOFT Al Riffa,NaN,ACIFM/M/GREEN LINE/M009/01/GWST080,NaN,GWST080,ACIFM-LEG-WEEKLY-RIF,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab,Open

### Adding Line and Station Columns

In [7]:
def getInput(listOfRef, txtFrom) :
    #listOfRef = dfLocation items
    #txtFrom = df current index

    for curRef in listOfRef :
        if curRef in txtFrom :
            return curRef

df['Code'] = df['Location'].apply(lambda x: getInput(dfLocation['Code'], x))
dfWithLocation = pd.merge(df, dfLocation)

row = len(dfWithLocation)
print("No. of rows:" + str(row))


row = len(df)
col = len(df.columns)
print("Original No. of Rows:" + str(row))
print("Original No. of Columns:" + str(col))

rowN = len(dfWithLocation)
colN = len(dfWithLocation.columns)
print("New No. of Rows:" + str(rowN))
print("New No. of Columns:" + str(colN))

dfWithLocation.head()

No. of rows:3184
Original No. of Rows:3184
Original No. of Columns:26
New No. of Rows:3184
New No. of Columns:28

,WO,Status,Description,Work Type,Assigned To,Priority,Location,Sign Off Notes,Subject,Task/Work Subject Group,...,Actual Completion Date / Time,Downtime,Duration,On Hold Reason,Done By,Entered By,Status 2,Code,Station,Line
0,148338,Scheduled,Weekly Legionella Prevention Checklist -Al Sudan,PPM,Soft Services,NaN,ACIFM/M/GOLD LINE/M006/01/YWST040,NaN,YWST040,ACIFM-LEG-WEEKLY-SUD,...,NaT,NaN,NaN,NaN,NaN,ACIFM-000593 Muhammad Khalid Shahab,Open,YWST040,Al Sudan,Gold Line
1,147924,Closed,Domestic/Condensate Water Tank PPM Task List,PPM,ACIFM MECH Al Sudan,NaN,ACIFM/M/GOLD LINE/M006/01/YWST040/Level C/R66,PPM is done as per the instructions\nby George...,MEP-SWDS-TNK06 - Tank-Sewage Water Tank-815 (L),ACIFM-DW CWTNK-SA-M006,...,2020-06-07 22:55:11.023,NaN,30.0,NaN,ACIFM MECH Al Sudan,ACIFM-000123 Stephany Solis,Closed,YWST040,Al Sudan,Gold Line
2,147919,Closed,Domestic/Condensate Water Tank PPM Task List,PPM,ACIFM MECH Al Sudan,NaN,ACIFM/M/GOLD LINE/M006/01/YWST040/Level C/R66,PPM is done as per the instructions\nby George...,MEP-SWDS-TNK05 - Tank-Sewage Water Tank-815 (L),ACIFM-DW CWTNK-SA-M006,...,2020-06-07 22:53:53.753,NaN,30.0,NaN,ACIFM MECH Al Sudan,ACIFM-000123 Stephany Solis,Closed,YWST040,Al Sudan,Gold Line
3,147914,Closed,Domestic/Condensate Water Tank PPM Task List,PPM,ACIFM MECH Al Sudan,NaN,ACIFM/M/GOLD LINE/M006/01/YWST040/Level C/R10,ppm is done as per the instructions\nby George...,MEP-SWDS-TNK04 - Tank-Sewage Water Tank-815 (L),ACIFM-DW CWTNK-SA-M006,...,2020-06-07 22:16:20.973,NaN,25.0,NaN,ACIFM MECH Al Sudan,ACIFM-000123 Stephany Solis,Closed,YWST040,Al Sudan,Gold Line
4,147909,Closed,Domestic/Condensate Water Tank PPM Task List,PPM,ACIFM MECH Al Sudan,NaN,ACIFM/M/GOLD LINE/M006/01/YWST040/Level C/R10,ppm is done as per the instructions\nby George...,MEP-SWDS-TNK03 - Tank-Sewage Water Tank-815 (L),ACIFM-DW CWTNK-SA-M006,...,2020-06-07 22:17:09.263,NaN,25.0,NaN,ACIFM MECH Al Sudan,ACIFM-000123 Stephany Solis,Closed,YWST040,Al Sudan,Gold Line

# Phase 2 : Formating and Validation

## Check for Null and Supply Data

### Supply empty Department Field -- Not Working

In [8]:
nullRows = dfWithLocation['Department'].isna().sum()
print("Department Initial Null count: " + str(nullRows))
nullRows2 = dfWithLocation['Assigned To'].isna().sum()
print("Assigned To Initial Null count: " + str(nullRows2))
#dfWithLocation[['WO','Assigned To','Department']].head()

dfWithLocation['Department'].fillna(dfWithLocation['Assigned To'], inplace=True)
dfWithLocation['Assigned To'] = dfWithLocation['Assigned To'].str.lower()

def checkDept(txtFrom, listOfRef):
    for curRef in listOfRef :
        if curRef in txtFrom :
            return curRef.lower()

        
dfWithLocation['Department'] = dfWithLocation['Assigned To'] \
.apply(lambda x: checkDept(x, dfDepartment['Department']))

dfWithLocation = pd.merge(dfWithLocation, dfDepartment)

nullRows2 = dfWithLocation['Department'].isna().sum()
print("After supplying Null count: " + str(nullRows2))

#dfWithLocation[['WO','Assigned To','Department','Department 2']].head(100)
#dfWithLocation.loc[dfWithLocation['Department']=="mech"]

Department Initial Null count: 1051
Assigned To Initial Null count: 0
After supplying Null count: 0

### Department Testing

In [9]:
test = dfWithLocation.loc[dfWithLocation['Department']=="mech"]
test[['WO','Assigned To','Department','Department 2']].head(100)

         WO              Assigned To Department Department 2
20   147924     acifm mech  al sudan       mech   Mechanical
21   147919     acifm mech  al sudan       mech   Mechanical
22   147914     acifm mech  al sudan       mech   Mechanical
23   147909     acifm mech  al sudan       mech   Mechanical
24   147906     acifm mech  al sudan       mech   Mechanical
..      ...                      ...        ...          ...
115  145259  acifm mech white palace       mech   Mechanical
116  145258  acifm mech white palace       mech   Mechanical
117  145257  acifm mech white palace       mech   Mechanical
118  145256  acifm mech white palace       mech   Mechanical
119  145255  acifm mech white palace       mech   Mechanical

[100 rows x 4 columns]

### Covert Date format to m/d/yyyy

In [10]:
try :
    dfWithLocation['Planned Start'] = pd.to_datetime(dfWithLocation['Planned Start'], format='%Y%m%d').dt.strftime('%m/%d/%Y')
    dfWithLocation['Raised Date'] = pd.to_datetime(dfWithLocation['Raised Date'], format='%Y%m%d').dt.strftime('%m/%d/%Y')
    dfWithLocation['Actual Completion Date / Time'] = pd.to_datetime(dfWithLocation['Actual Completion Date / Time'], \
                                                                     format='%Y%m%d').dt.strftime('%m/%d/%Y')
except :
    print("***Formated Already")

dfWithLocation[['WO','Planned Start','Raised Date','Actual Completion Date / Time']].head(20)

        WO Planned Start Raised Date Actual Completion Date / Time
0   148338    06/08/2020  06/08/2020                           NaN
1   148337    06/08/2020  06/08/2020                           NaN
2   148336    06/08/2020  06/08/2020                           NaN
3   148335    06/08/2020  06/08/2020                           NaN
4   148334    06/08/2020  06/08/2020                           NaN
5   148333    06/08/2020  06/08/2020                           NaN
6   148332    06/08/2020  06/08/2020                           NaN
7   148331    06/08/2020  06/08/2020                           NaN
8   148329    06/08/2020  06/08/2020                           NaN
9   148330    06/08/2020  06/08/2020                           NaN
10  148328    06/08/2020  06/08/2020                           NaN
11  148327    06/08/2020  06/08/2020                           NaN
12  148326    06/08/2020  06/08/2020                           NaN
13  148325    06/08/2020  06/08/2020                           NaN
14  148324    06/08/2020  06/08/2020                           NaN
15  148323    06/08/2020  06/08/2020                           NaN
16  148322    06/08/2020  06/08/2020                           NaN
17  148321    06/08/2020  06/08/2020                           NaN
18  148320    06/08/2020  06/08/2020                    06/08/2020
19  148099    06/08/2020  06/07/2020                           NaN

# Phase 3 : Arrangement, Order and Export

### Column Re-order

In [11]:
rowN = len(dfWithLocation)
colN = len(dfWithLocation.columns)
print("New No. of Rows:" + str(rowN))
print("New No. of Columns:" + str(colN))

row = len(dfWithLocation)
dfComplete = dfWithLocation[['WO','Code','Line','Station','Status 2','Description', 'Location', 'Assigned To','Department 2', \
                             'Planned Start','Raised Date','Actual Completion Date / Time']][0:row]

dfComplete.head()

New No. of Rows:3173
New No. of Columns:29

,WO,Code,Line,Station,Status 2,Description,Location,Assigned To,Department 2,Planned Start,Raised Date,Actual Completion Date / Time
0,148338,YWST040,Gold Line,Al Sudan,Open,Weekly Legionella Prevention Checklist -Al Sudan,ACIFM/M/GOLD LINE/M006/01/YWST040,soft services,Soft Services,06/08/2020,06/08/2020,NaN
1,148337,GWST020,Green Line,The White Palace,Open,Weekly Legionella Prevention Checklist WhitePa...,ACIFM/M/GREEN LINE/M008/01/GWST020,acifm soft white palace,Soft Services,06/08/2020,06/08/2020,NaN
2,148336,YEST010,Gold Line,Souq Waqif,Open,Weekly Legionella Prevention Checklist -Souq W...,ACIFM/M/GOLD LINE/M006/01/YEST010,soft services,Soft Services,06/08/2020,06/08/2020,NaN
3,148335,YWST060,Gold Line,Sports City,Open,Weekly Legionella Prevention Checklist-Sports ...,ACIFM/M/GOLD LINE/M006/01/YWST060,soft services,Soft Services,06/08/2020,06/08/2020,NaN
4,148334,GWST080,Green Line,Al Riffa,Open,Weekly Legionella Prevention Checklist -Al Riffa,ACIFM/M/GREEN LINE/M009/01/GWST080,acifm soft al riffa,Soft Services,06/08/2020,06/08/2020,NaN

## Export to Excel

In [12]:
#dfComplete.to_excel("output.xlsx")

# -------------------------------------- Done ------------------------------------